@import '../../style/helpers/variables';
@import '../../style/helpers/mixins.scss';

.tr__home-page {
    background-color: $background-color;
    height: 100vh;
    z-index: -1;
    padding: 20px;
    &--logo {
        color: $white;
        position: absolute;
        @include position(left);
        top: 0
    }
    &--title {
        @include flex(flex, center);
        color: $white;
        padding: 40px 20px;
    }
    &--card {
        background-color: $white;
        border-radius: 3px;
        padding:  15px;
    }
}