@import '../../style/helpers/variables';
@import '../../style/helpers/mixins.scss';

.tr__home-page {
    @include backgroundColor($blue);
    height: 100vh;
    padding: 20px;
    &--logo {
        color: $white;
        position: absolute;
        top: 0;
        @include position(left);
    }
    &--title {
        @include flex(flex, center);
        color: $white;
        padding: 40px 20px;
    }
    &--card {
        @include backgroundColor($white);
        border-radius: 3px;
        padding:  15px;
        @include size(300px)
    }
}