@import '../helpers/variables';
// flex

@mixin flex($flex: flex, $align: center, $space-between: space-between) {
    display: $flex;
    align-items: $align;
    justify-content: space-between;
    @content;
}

@mixin position($type: left) {
    @if ($type == left) {
        left : 20px;
        // top: 10px;
    } @else {
        right: 20px;
    }
}

@mixin backgroundColor($backgroud) {
    background-color: $backgroud;
}

@mixin size($width, $height : $width) {
    width: $width;
    height: $height;
}